<h1>Show page for Episode: <%= @episode.number %></h1>
<p>Date: <%= @episode.date %></p>

<h5>Guests on this Episode:</h5>

<% @episode.appearances.each do |appearance| %>
<p><%= link_to appearance.guest.name, guest_path(appearance.guest.id) %></p>
<% end %>

<p>Average rating for the appearances on this episode: <%= @episode.avg_rating %></p>

<p><%= link_to "Create an Appearance", new_appearance_path %></p>